<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
     <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            description="%Application-Name"
            name="%Application-Name"
            application="mereditor.interfaz.editor">
         <property
               name="appName"
               value="%Application-Name"/>
         <property
               name="windowImages"
               value="icons/digraph.gif"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editor-Name"
            icon="icons/digraph.gif"
            extensions="mereditor"
            class="mereditor.interfaz.editor.MERGraphicalEditor"
            id="mereditor">
      </editor>
   </extension>
   <extension
         id="mereditor.interfaz.editor"
         name="%Application-Name"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="mereditor.interfaz.rcp.MEREditorApplication"/>
      </application>
   </extension>
   <extension
         id="mereditor.interfaz.editor"
         name="%Perspective-Name"
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="icons/digraph.gif"
            class="mereditor.interfaz.rcp.MEREditorPerspective"
            fixed="true"
            name="%Perspective-Name"
            id="mereditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="mereditor.interfaz.view.MEREditorView"
            icon="icons/digraph.gif"
            id="mereditor.interfaz.view.MEREditorView"
            name="%View-Name">
      </view>
   </extension>
</plugin>
